.worksBlock {
    height: 100vh;
    background-color: #ffae9f;
}

.worksContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.title {
    background-color: burlywood;
}