.navbar {
    border: 1px solid antiquewhite;
    width: 300px;
    display: flex;
    justify-content: space-between;
}


@media(max-width: 450px){
    .navbar {
        border: 1px solid antiquewhite;
        width: 370px;
        display: flex;
        justify-content: space-between;
        font-size: 23px;
    }
}


