.mainBlock {
    height: 100vh;
    background-color: #d97852;
}



.text {
    width: 300px;
    background-color: #c9f6f6;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #c9f6f6;
}
