.footerContainer {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.title {
    background-color: #b5acff;
}

.footerBlock {
    min-height: 20vh;
    background-color: cornflowerblue;
}
